

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./font/Roboto-Regular.ttf") format("truetype");
    font-weight: bold;
    }

body {
    padding: 0;
    margin: 0
}

.Logo {
    height: 80px;
}

.NavObject:hover {
    color: #DD9931;
    cursor: pointer;
}

.Box {
    align-items: center;
    text-align: center;
}

.Footnote {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.menu {
    display: block;
    top: 120px;
    width: 90%;
    position: absolute;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(81, 79, 79, 0.419) 2px 2px 3px;
}

.navBarText {
    font-family: Roboto;
    text-decoration: none; 
    color: black;
    margin-right:15px;
}