@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./font/Roboto-Regular.ttf") format("truetype");
    }

body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

.Logo {
    height: 80px;
}

.NavObject:hover {
    color: #DD9931;
    cursor: pointer;
}

.Box {
    align-items: center;
    text-align: center;
}

.Footnote {
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.menu {
    display: block;
    top: 10px;
    width: 85%;
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(81, 79, 79, 0.419) 2px 2px 3px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    animation-name: example;
    animation-duration: 0.2s; 
    z-index: 10;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.navBarText {
    font-family: Roboto;
    text-decoration: none; 
    color: black;
    margin-right:15px;
}

.linkEmail {
    text-decoration: none;
}

.linkEmail:hover {
    text-decoration: underline;
    text-decoration-color: black;
    
}

.mainTitle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/mainImage.jpg");
    background-size: cover;
    opacity: 0.8;
    background-position: center bottom;
}

.image {
    object-fit: scale-down;
    width: 100%
}